In [1]:
import pandas as pd

In [3]:
df_pais = pd.read_csv('data/turistas_segun_pais.csv', sep = ";")
df_pais.head()

  País de residencia Tipo de dato  Periodo       Total
0              Total    Dato base  2023M08  10.076.734
1              Total    Dato base  2023M07  10.131.579
2              Total    Dato base  2023M06   8.318.325
3              Total    Dato base  2023M05   8.218.334
4              Total    Dato base  2023M04   7.235.055

In [22]:
df_comunidad = pd.read_csv('data/turistas_segun_comunidad_destino.csv', sep = ";")
df_comunidad.sample(10)

,Comunidades autónomas,Tipo de dato,Periodo,Total
1986,10 Comunitat Valenciana,Dato base,2016M06,729.855
2936,Otras Comunidades Autónomas,Acumulado en lo que va de año,2016M06,2.666.492
1727,09 Cataluña,Acumulado en lo que va de año,2022M03,1.793.211
1406,05 Canarias,Acumulado en lo que va de año,2017M04,4.916.416
1022,"04 Balears, Illes",Acumulado en lo que va de año,2017M08,10.249.765
886,"04 Balears, Illes",Tasa de variación anual,2021M01,"-85,37"
927,"04 Balears, Illes",Tasa de variación anual,2017M08,"2,61"
1632,09 Cataluña,Tasa de variación anual,2022M03,"727,97"
255,Total,Acumulado en lo que va de año,2018M03,13.717.834
1596,09 Cataluña,Dato base,2017M04,1.755.019

In [38]:
df_comunidad['Comunidades autónomas'].unique()

array(['Total', '01 Andalucía', '04 Balears, Illes', '05 Canarias',
       '09 Cataluña', '10 Comunitat Valenciana',
       '13 Madrid, Comunidad de', 'Otras Comunidades Autónomas'],
      dtype=object)

In [9]:
df_motivo = pd.read_csv('data/turista_segun_motivo_viaje.csv', sep = ";")
df_motivo.head()

  Motivo del viaje Tipo de dato  Periodo       Total
0            Total    Dato base  2023M08  10.076.734
1            Total    Dato base  2023M07  10.131.579
2            Total    Dato base  2023M06   8.318.325
3            Total    Dato base  2023M05   8.218.334
4            Total    Dato base  2023M04   7.235.055

In [40]:
df_comunidad_baleares_año = df_comunidad[(df_comunidad['Comunidades autónomas'] == '04 Balears, Illes') & (df_comunidad['Periodo'].str.contains('2023'))]
df_comunidad_baleares_año

     Comunidades autónomas                   Tipo de dato  Periodo       Total
760      04 Balears, Illes                      Dato base  2023M08   2.344.314
761      04 Balears, Illes                      Dato base  2023M07   2.437.549
762      04 Balears, Illes                      Dato base  2023M06   2.058.060
763      04 Balears, Illes                      Dato base  2023M05   1.797.593
764      04 Balears, Illes                      Dato base  2023M04   1.182.897
765      04 Balears, Illes                      Dato base  2023M03     360.664
766      04 Balears, Illes                      Dato base  2023M02     181.766
767      04 Balears, Illes                      Dato base  2023M01     128.515
855      04 Balears, Illes        Tasa de variación anual  2023M08        7,26
856      04 Balears, Illes        Tasa de variación anual  2023M07        7,23
857      04 Balears, Illes        Tasa de variación anual  2023M06        5,08
858      04 Balears, Illes        Tasa de variación anual  2023M05       10,24
859      04 Balears, Illes        Tasa de variación anual  2023M04       10,53
860      04 Balears, Illes        Tasa de variación anual  2023M03       17,49
861      04 Balears, Illes        Tasa de variación anual  2023M02       21,47
862      04 Balears, Illes        Tasa de variación anual  2023M01       54,53
950      04 Balears, Illes  Acumulado en lo que va de año  2023M08  10.491.357
951      04 Balears, Illes  Acumulado en lo que va de año  2023M07   8.147.043
952      04 Balears, Illes  Acumulado en lo que va de año  2023M06   5.709.494
953      04 Balears, Illes  Acumulado en lo que va de año  2023M05   3.651.434
954      04 Balears, Illes  Acumulado en lo que va de año  2023M04   1.853.841
955      04 Balears, Illes  Acumulado en lo que va de año  2023M03     670.945
956      04 Balears, Illes  Acumulado en lo que va de año  2023M02     310.281
957      04 Balears, Illes  Acumulado en lo que va de año  2023M01     128.515
1045     04 Balears, Illes    Tasa de variación acumulada  2023M08        8,63
1046     04 Balears, Illes    Tasa de variación acumulada  2023M07        9,03
1047     04 Balears, Illes    Tasa de variación acumulada  2023M06        9,81
1048     04 Balears, Illes    Tasa de variación acumulada  2023M05       12,68
1049     04 Balears, Illes    Tasa de variación acumulada  2023M04       15,14
1050     04 Balears, Illes    Tasa de variación acumulada  2023M03        24,3
1051     04 Balears, Illes    Tasa de variación acumulada  2023M02       33,28
1052     04 Balears, Illes    Tasa de variación acumulada  2023M01       54,53

In [41]:
df_comunidad_canarias_año = df_comunidad[(df_comunidad['Comunidades autónomas'] == '05 Canarias') & (df_comunidad['Periodo'].str.contains('2023'))]
df_comunidad_canarias_año

     Comunidades autónomas                   Tipo de dato  Periodo      Total
1140           05 Canarias                      Dato base  2023M08  1.062.618
1141           05 Canarias                      Dato base  2023M07  1.070.558
1142           05 Canarias                      Dato base  2023M06    947.828
1143           05 Canarias                      Dato base  2023M05    969.343
1144           05 Canarias                      Dato base  2023M04  1.160.528
1145           05 Canarias                      Dato base  2023M03  1.297.382
1146           05 Canarias                      Dato base  2023M02  1.230.378
1147           05 Canarias                      Dato base  2023M01  1.204.177
1235           05 Canarias        Tasa de variación anual  2023M08       2,63
1236           05 Canarias        Tasa de variación anual  2023M07       4,04
1237           05 Canarias        Tasa de variación anual  2023M06       5,23
1238           05 Canarias        Tasa de variación anual  2023M05       9,71
1239           05 Canarias        Tasa de variación anual  2023M04       4,54
1240           05 Canarias        Tasa de variación anual  2023M03       15,5
1241           05 Canarias        Tasa de variación anual  2023M02      27,12
1242           05 Canarias        Tasa de variación anual  2023M01      58,49
1330           05 Canarias  Acumulado en lo que va de año  2023M08  8.942.811
1331           05 Canarias  Acumulado en lo que va de año  2023M07  7.880.193
1332           05 Canarias  Acumulado en lo que va de año  2023M06  6.809.636
1333           05 Canarias  Acumulado en lo que va de año  2023M05  5.861.807
1334           05 Canarias  Acumulado en lo que va de año  2023M04  4.892.464
1335           05 Canarias  Acumulado en lo que va de año  2023M03  3.731.937
1336           05 Canarias  Acumulado en lo que va de año  2023M02  2.434.554
1337           05 Canarias  Acumulado en lo que va de año  2023M01  1.204.177
1425           05 Canarias    Tasa de variación acumulada  2023M08      14,51
1426           05 Canarias    Tasa de variación acumulada  2023M07      16,33
1427           05 Canarias    Tasa de variación acumulada  2023M06      18,52
1428           05 Canarias    Tasa de variación acumulada  2023M05         21
1429           05 Canarias    Tasa de variación acumulada  2023M04      23,51
1430           05 Canarias    Tasa de variación acumulada  2023M03       30,9
1431           05 Canarias    Tasa de variación acumulada  2023M02      40,92
1432           05 Canarias    Tasa de variación acumulada  2023M01      58,49

In [43]:
df_comunidad_baleares_año[df_comunidad_baleares_año['Tipo de dato'] == 'Acumulado en lo que va de año'].head(1)

    Comunidades autónomas                   Tipo de dato  Periodo       Total
950     04 Balears, Illes  Acumulado en lo que va de año  2023M08  10.491.357

In [44]:
df_comunidad_canarias_año[df_comunidad_canarias_año['Tipo de dato'] == 'Acumulado en lo que va de año'].head(1)

     Comunidades autónomas                   Tipo de dato  Periodo      Total
1330           05 Canarias  Acumulado en lo que va de año  2023M08  8.942.811